.placesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    list-style: none;
    max-height: 85vh;
    overflow-y: auto;
  }

  .placesList::-webkit-scrollbar {
    width: 0;
  }
  
  .placesListItem {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 10px;
  }
  
  @media (min-width: 576px) {
    .placesListItem {
      width: 100%;
    }
  }

  .placesListItemDelete {
    width: 3rem;
    height: 2rem;
    margin: 0 0 0 5px;
    padding: 0;
    background-color: blanchedalmond;
    border: 1px solid black;
    border-radius: 5px;
  }

  .placesListItemDelete:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
  }

