.map {
    height: 85vh;
    width: 100%;
    border: rgb(2, 2, 114) solid 1px;
    border-radius: 5px;
    box-shadow: #ccc 10px 10px 10px;
}

.placesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 1rem 1rem;
}

.comboboxInput {
    color: rgb(2, 2, 114);
    width: 90%;
    max-width: 500px;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    outline: none;
}

.comboboxPopover {
    color: rgb(2, 2, 114);
    width: 90%;
    max-width: 500px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    outline: none;
}

@media screen and (max-width: 767px) {
    .comboboxInput {
        width: 90%;
        max-width: none;
        margin: 1rem 0;
    }
}