body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.username {
  margin: 1rem;
  font-size: 1.3em;
  color: yellow;
}

.header {
  height: 2rem;
  margin: 0 0 2em 0;
  padding: 1em 1em;
  background-color: rgb(13, 13, 15);
}

.header a {
  margin: 0 0.5em 0 0.5em;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.header a:hover {
  color: #bebdbd;
}

.header .active {
  color: #bebdbd;
}

.content {
  font-size: 1.5em;
}
