.backgroundImage {
  position: absolute;
  top: 6%;  
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../../../public/space.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register {
  position: relative;
  width: 90%;
  max-width: 40rem;
  padding: 2rem;
}

.actions {
  text-align: center;
}

.message {
  color: red;
  font-size: 0.7em;
}